<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>First Name:</label>
                <input type="text" 
                       class="form-control" 
                       formControlName="firstName">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label>Last Name:</label>
                <input type="text" 
                       class="form-control" 
                       formControlName="lastName">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>Email address</label>
                <input type="email" 
                       class="form-control" 
                       placeholder="Enter email"
                       formControlName="email">
            </div>
        </div>
    </div>
    <div formGroupName="address">
        <h3>Address</h3>
        <label>
            Street:
            <input type="text" formControlName="street">
        </label>
        <label>
            City:
            <input type="text" formControlName="city">
        </label>
        <label>
            State:
            <input type="text" formControlName="state">
        </label>
        <label>
            Zip Code:
            <input type="text" formControlName="zip">
        </label>
    </div>
    <div formArrayName="aliases">
        <h3>Aliases</h3>
        <button (click)="addAlias()">Add Alias</button>
        <div *ngFor="let address of aliases.controls; let i=index">
            <label>
                Alias:
                <input type="text" [formControlName]="i">
            </label>
        </div>
    </div>
    <button class="btn btn-outline-success" type="submit" [disabled]="!profileForm.valid">
        Submit
    </button>
</form>

<p>
    Form Value: {{ profileForm.value | json }}
</p>
<p>
    Form Status: {{ profileForm.status }}
</p>

<button class="btn btn-outline-success" (click)="updateProfile()">
    Update Profile
</button>