<form [formGroup]="personalData" (ngSubmit)="onSubmit()">
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <app-input-generic [nameField]="'Nombre'"
                                   [group]="personalData"
                                   [fieldd]="'firstName'"
                                   [placeholder]="'Nombre'">
                </app-input-generic>
            </div>
            <div class="col">
                <app-input-generic [nameField]="'Apellido'"
                                   [group]="personalData"
                                   [fieldd]="'lastName'"
                                   [placeholder]="'Apellido'">
                </app-input-generic>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-input-example bankName="RBC" 
                                   account-id="4747">
                </app-input-example>
            </div>
        </div>
        <button class="btn btn-outline-success" 
                type="submit" 
                [disabled]="!personalData.valid">
            Submit
        </button>
    </div>
</form>